@import "tailwindcss";

/* Small helpers to match the design exactly */
body {
  @apply bg-gray-50 font-sans text-gray-900 antialiased;
}

/* Hide focus indicators for all form inputs */
input:focus,
select:focus {
  outline: none !important;
  box-shadow: none;
}
.hashing-form input:focus,
.hashing-form select:focus {
  outline: none;

  box-shadow: none;
}
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::-webkit-scrollbar{
  width: 0px !import;
}